<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new posts</title>
</head>
<body>
    <form method="post" action="/posts">
        <input placeholder="title" type="text" name="title"><br>
        <textarea placeholder="Add a caption" name="caption"></textarea><br>
        <button>posts</button>
    </form>

</body>
</html>